p {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  text-align-last: center;
}

.slider {
  max-width: 100%;
  height: 75vh;
  position: relative;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background: url(img/Black_Game_Controller.jpg)no-repeat center;
  background-size: cover;
  animation:fade 16s infinite;
  -webkit-animation:fade 16s infinite;
}

.slide2 {
  background: url(img/pic1.jpg)no-repeat center;
  background-size: cover;
  animation:fade2 16s infinite;
  -webkit-animation:fade2 16s infinite;
}

.slide3 {
  background: url(img/showcase_img.jpg)no-repeat center;
  background-size: cover;
  animation:fade3 16s infinite;
  -webkit-animation:fade3 16s infinite;
}

.slide4 {
  background: url(img/UE4.JPG)no-repeat center;
  background-size: cover;
  animation:fade4 16s infinite;
  -webkit-animation:fade4 16s infinite;
}

@keyframes fade {
  0% {opacity:1}
  25% {opacity: 0}
  50% {opacity: 0}
  75% {opacity: 0}
  100% {opacity:1}
}

@keyframes fade2 {
  0% {opacity:0}
  25% {opacity: 1}
  50% {opacity: 0}
  75% {opacity: 0}
  100% {opacity:0}
}

@keyframes fade3 {
  0% {opacity:0}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity:0}
}

@keyframes fade4 {
  0% {opacity:0}
  25% {opacity: 0}
  50% {opacity: 0}
  75% {opacity: 1}
  100% {opacity:0}
}

.text a {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
