.slider {
  max-width: 100%;
  height: 75vh;
  position: relative;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background: url(img/UE4_Visual_Scripting_Example.jpg)no-repeat center;
  background-size: cover;
  animation:fade 16s infinite;
  -webkit-animation:fade 16s infinite;
}

.slide2 {
  background: url(img/UE4_basic_bp_tutorial.jpg)no-repeat center;
  background-size: cover;
  animation:fade2 16s infinite;
  -webkit-animation:fade2 16s infinite;
}

.slide3 {
  background: url(img/UE4.jpg)no-repeat center;
  background-size: cover;
  animation:fade3 16s infinite;
  -webkit-animation:fade3 16s infinite;
}

.slide4 {
  background: url(img/UE4_chairs_example.JPG)no-repeat center;
  background-size: cover;
  animation:fade4 16s infinite;
  -webkit-animation:fade4 16s infinite;
}

@keyframes fade {
  0% {opacity:1}
  25% {opacity: 0}
  50% {opacity: 0}
  75% {opacity: 0}
  100% {opacity:1}
}

@keyframes fade2 {
  0% {opacity:0}
  25% {opacity: 1}
  50% {opacity: 0}
  75% {opacity: 0}
  100% {opacity:0}
}

@keyframes fade3 {
  0% {opacity:0}
  25% {opacity: 0}
  50% {opacity: 1}
  75% {opacity: 0}
  100% {opacity:0}
}

@keyframes fade4 {
  0% {opacity:0}
  25% {opacity: 0}
  50% {opacity: 0}
  75% {opacity: 1}
  100% {opacity:0}
}

.text h1 {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  text-decoration: none;
  cursor: default;
}

.gallery_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(104, 104, 104, 0.8);
}

.gallery_img:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 600px) {
  .gallery {
    display: grid;
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 15px;
    margin: 40px 40px;
  }

  .gallery_item1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
  }

  .gallery_item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .gallery_item3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .gallery_item4 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 3;
  }

  .gallery_item5 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery_item6 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
@media only screen and (max-width: 599px) {
  .gallery {
    display: grid;
    grid-template-rows: 6;
    grid-template-columns: 1;
    grid-gap: 15px;
    margin: 40px 40px;
  }

  .gallery_item1 {
      grid-row-start: 1;
      grid-row-end: 2;
  }

  .gallery_item2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery_item3 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .gallery_item4 {
      grid-row-start: 4;
      grid-row-end: 5;
  }

  .gallery_item5 {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .gallery_item6 {
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
